<div id="MSLDoctorView" data-role="view" data-title="Doctor MSL" 
     data-layout="afterlogin"
     data-model="app.MSLDoctorView.MSLDoctorViewModel"
     data-bind="events: { show: onShow,afterShow:afterShow }">
    <footer data-role="footer">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-danger" data-role="button"
               data-click="app.navigation.back">
                <i class="fa fa-arrow-left"></i> Back
            </a> 
            <a  class="btn btn-primary"
               data-bind="events: {click: ScrollTop }">
                <i class="fa fa-arrow-up"></i> Top
            </a>
        </div>
    </footer>
    <div id="dvMSLDoctorView" >
        <div id="dvmsldoctorview_manager"  class="panel-heading text-center"
             style="display:none; background-color:#fff!important ">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                                   <input id="msldoctorview_txtauocmpemployeelist" class="form-control">
                        <span class="input-group-addon" data-bind="events: {click: fun_close_msldoctorview_txtauocmpemployeelist }">
                            <i class="fa fa-1-5x fa-close"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-headingsubcustom" id="msldoctorview_team" >
            <div class="panel-title text-uppercase "
                 id="msldoctorview_teamname">
                Team
            </div>
        </div>
        <div class="panel-body padding0">
            <div data-role="listview" id="listview-doctormsldetails"></div>
            <script type="text/x-kendo-tmpl" id="template-doctormsldetails">
                <div class="row" >
                    <div class="col-xs-1">
                        <div class="pull-left" style="padding-top:20px !important">
                            <h4 class="horange"> #: Doctor_MSL_Number #</h4>
                        </div>
                    </div>
                    <div class="col-xs-11" style="padding-left:15px !important">
                        <h4>
                            #: Doctor_Name # -  #: Core_Type # - #: Speciality_Name #  
                        </h4>
                        <p> 
                            #: Market_Area_Name #
                        </p>  
                        <div data-role="button"
                             data-DailyReport_Doctor_Id="${DailyReport_Doctor_Id}"
                             data-click="fun_msldoctor_last_products_modelopen">
                             Last Visited
                              <i class="fa fa-calendar-check-o hgreen"></i>   #: Last_Visited #
                        </div>
                    </div>
                </div>
            </script> 
        </div>
    </div>

    <div data-role="modalview" id="modalview-msldoctor_last_products"
         style="height:70%!important ; width:90%!important ">
        <div data-role="header" class="panel-headingmodal">
            <div class="row">
                <div class="panel-title" style="padding-left:10px !important ; ">
                    Product Details<a data-click="fun_msldoctor_last_products_modelclose"
                                                 data-role="button" class="pull-right"
                                                 style="padding : 0 10px 0 0; ">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-custom">
            <div class="panel-body" style="padding-top:0px;background-color:#fff !important">
                <div class="row"> 
                    <div class="panel-body padding0">
                        <div id="grid_msldoctor_last_products_brandremainer"></div>
                    </div> 
                    <div class="panel-body padding0">
                        <div id="grid_msldoctor_last_products_sample"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
