<div id="LMSleavemanagementView" data-role="view" data-title="Leave Management"
     data-layout="afterlogin"
     data-model="app.LMSleavemanagementView.LMSleavemanagementViewModel"
     data-bind="events: { show: onShow }">
    <footer data-role="footer">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-danger" data-role="button"
               data-click="app.navigation.navigateAppDashboardView">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </div>
    </footer>
    <div id="dvleavemanagementView">
        <div class="panel panel-default">
            <div class="panel-body padding0">
                <div class="col-xs-12" id="dvmgt">
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateLMSapplyleaveView">
                        <i class="fa fa-plus-circle mgticon notyblack"></i>
                        <br />
                        Apply
                    </div>
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateLMScancelleaveView">
                        <i class="fa fa-minus-circle mgticon notygreen"></i>
                        <br />
                        Cancel
                    </div>
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateLMSleavehistoryView">
                        <i class="fa fa-list-alt mgticon notyorange"></i>
                        <br />
                        History
                    </div>
                    <div data-role="button" class="roundtext dvaccess_approval"
                         data-click="app.navigation.navigateTeamAbsensesView">
                        <i class="fa fa-calendar-times-o mgticon notyred"></i>
                        <br /> 
                        Team Absence
                    </div>
                    <div data-role="button" class="roundtext dvaccess_approval"  
                         data-click="app.navigation.navigateLMSapproveleaveView">
                        <i class="fa fa-plus-circle mgticon notyblue"></i>
                        <i class="fa fa-check mgticon notyblue"  ></i> 
                        <br /> 
                        Approval
                    </div>
                    <div data-role="button" class="roundtext dvaccess_approval"
                         data-click="app.navigation.navigateLMSapproveleavecancelView">
                        <i class="fa fa-minus-circle mgticon notypurple "   > </i>
                        <i class="fa fa-check mgticon notypurple"  ></i>  
                        <br /> 
                        Cancl Apvl
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 