<div id="MastermanagementView" data-role="view" data-title="Masters"
     data-layout="afterlogin"
     data-model="app.MastermanagementView.MastermanagementViewModel"
     data-bind="events: { show: onShow }">
    <footer data-role="footer">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-danger" data-role="button"
               data-click="app.navigation.navigateAppDashboardView">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </div>
    </footer>
    <div id="dvMastermanagementView">
        <div class="panel panel-default">
            <div class="panel-body padding0">
                <div id="dvmgt" class="col-xs-12">
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateMarketAreaView">
                        <i class="fa fa-map-marker mgticon notyblack"></i>
                        <br />
                        Market
                    </div> 
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateMasterPromoBalanceView">
                        <i class="fa fa-product-hunt mgticon notyblue"></i>
                        <br />
                        Promo 
                    </div>
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateMSLDoctorView">
                        <i class="fa fa-stethoscope mgticon notygreen"></i>
                        <br />
                        Doctor
                        <!--<br />
                        &nbsp;-->
                    </div>
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateMSLChemistView">
                        <i class="fa fa-medkit mgticon notyorange"></i>
                        <br />
                        Chemist
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> 