<div id="MSLChemistView" data-role="view" data-title="Chemist MSL List"
     data-layout="afterlogin"
     data-model="app.MSLChemistView.MSLChemistViewModel"
     data-bind="events: { show: onShow,afterShow:afterShow }">
    <footer data-role="footer">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-danger" data-role="button"
               data-click="app.navigation.back">
                Back
            </a>
            <div class="btn btn-primary"
                 data-role="button"
                 data-click="app.navigation.homepage">
                <i class="fa fa-home"> </i> Home
            </div>
        </div>
    </footer>
    <div id="dvmslchemistdetails" style="display:none">
        <div class="panel-body padding0">
            <div data-role="listview" id="listview-chemistmsldetails"></div>
            <script type="text/x-kendo-tmpl" id="template-chemistmsldetails">
                <div class="row">
                    <div class="col-xs-1">
                        <div class="pull-left" style="padding-top:20px !important">
                            <h4 class="horange"> #= Chemist_MSL_Number #</h4>
                        </div>
                    </div>
                    <div class="col-xs-11" style="padding-left:15px !important">
                        <h4>
                            #= Chemist_Name #
                        </h4>
                        <p>
                            #= Market_Area_Name #
                        </p>
                    </div>
                </div>
            </script> 
        </div>
    </div>
</div>
